.alerta {
    &-primario, &-peligro {
        width: calc(100% - 1rem - 30px);
        padding: 15px;
        margin: 0.5rem;
        border-radius: 10px;
        font-size: 1.15rem;
        letter-spacing: 5px;
        font-family: 'Lato', sans-serif;
        color: color('iluminado');
    }
    &-primario {
        background: cambioColor('hecho', darken, 20);
    }
    &-peligro {
        background: cambioColor('peligro', lighten, 40);
    }
 }