.toast {
    width: 300px;
    padding: 16px;
    border-radius: 5px;
    position: relative;
    display: flex;
    box-shadow: 1px 1px 6px 2px rgba(0,0,0,0.15);
    overflow: hidden;
    margin-bottom: 16px;
    &__close {
        position: absolute;
        right: 12px;
        top: 12px;
        color: #000;
        &:hover {
            opacity: 0.75;
            cursor: pointer;
        }
    }
    &__img {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: blue;
        background-image: url('../images/toast.png');
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100%;
        margin: 0;
        box-shadow: 2px 0px 5px -2px rgba(0,0,0,0.5);
    }
    &__info {
        margin-left: 104px;
    }
    &__title {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 8px;
    }
    &__description {
        font-size: 12px;
        margin: 0 0 12px 15px;
    }
    &__btn {
        border: none;
        border-radius: 5px;
        height: 30px;
        padding-left: 16px;
        padding-right: 16px;
        float: right;
        color: #fff;
        background: #000;
        font-weight: 600;
        outline: none;
        &:hover {
            opacity: 0.75;
            cursor: pointer;
        }
    }
}
